[Desktop Entry]
Name=LX assistant
Comment=Use the LXM model!
Exec=/home/Your-home-folder-name-here/LXP.sh
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;

